@import 'reset';
@import 'animations';
@import 'spinner';

$font-family: 'Lato', sans-serif;
$font-color-main: #222222;
$font-color-second: #a7acb8;

$white-color: #fff;
$green-color: #38d2b0;
$green-color-hover: #50e5c4;
$purple-color: #5d5bc0;
$purple-color-hover: #7270d5;

$form-bg-color: #fbfbfb;
$err-color: #d23838;

$border-radius: 3px;
$box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05);
$box-shadow-spread: 0 0px 10px 0 rgba(0,0,0,0.15);

@mixin form-border {
    border: 1px solid #e4e4e4;
    border-radius: $border-radius;
}

@mixin blocks-bg {
    background-color: $white-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}

@mixin dropdown-bg {
    background-color: $white-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow-spread;
}

@mixin radius-top {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}

@mixin radius-bottom {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

html {
    font-size: 16px;
}  

body {
    background: url('./images/bg-img.jpg') #ebebeb center top no-repeat;
    font-family: $font-family;
}

a {
    text-decoration: none;
}

b {
    font-weight: 700;
}

label {
    display: flex;
    color: $font-color-second;
    margin: 15px 0;
    font-size: 1.125rem;
    &:hover{
        cursor: pointer;
    }
}

input,
select,
textarea {
    display: flex;
    color: #50576c;
    font-size: 1rem;
    font-family: $font-family;
    padding: 10px 20px;
    margin: 0 0 5px 0;
    border-radius: $border-radius;
    border: 1px solid #e4e4e4;
    background-color: #fbfbfb;
    box-sizing: border-box;
    outline: none;
    resize: none;
    &:focus {
        color: $font-color-main;
        border-color:$green-color;
    }
    &:invalid {
        outline: none;
        border-color: #f05757;
        box-shadow: none;
    }
    &.input-err {
        border-color: $err-color;
        color: $err-color;
    }
}

input[type=checkbox] {
    width: auto;
    display: inline-block;
}

.checkbox-label {
    display: inline-block;
    padding: 0 0 0 10px;
    &--error {
        color: $err-color;
    }
}

.wrapper {
    position: relative;
    width: 100%;
}

.row {
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

.justify-content-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.no-margin {
    margin: 0 !important;
}

.green-btn {
    color: $white-color;
    font-size: 1.125rem;
    padding: 10px 18px;
    background-color: $green-color;
    border: 0;
    outline: 0;
    border-radius: $border-radius;
    transition: all 0.3s ease;
    a {
        color: $white-color;
    }
    &:hover {
        cursor: pointer;
        background-color: $green-color-hover;
    }
    svg {
        margin: 0 0 0 10px;
    }
}

.purple-btn {
    color: $white-color;
    font-size: 1.125rem;
    padding: 10px 18px;
    background-color: $purple-color;
    border: 0;
    outline: 0;
    border-radius: $border-radius;
    transition: all 0.3s ease;
    &:hover {
        cursor: pointer;
        background-color: $purple-color-hover;
    }
    svg {
        margin: 0 0 0 10px;
    }
}

.control-btn {
    color: $white-color;
    font-size: 0.5rem;
    padding: 7px 10px;
    background-color: $green-color;
    border: 0;
    outline: 0;
    border-radius: $border-radius;
    transition: all 0.3s ease;
    &:hover {
        cursor: pointer;
        background-color: $green-color-hover;
    }
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 200;
    background-color: rgba(0,0,0,0.3);
    &__box {
        @include blocks-bg();
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        width: 80%;
        max-width: 480px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: $font-color-main;
        z-index: 300;
        padding: 40px 50px;
        box-sizing: border-box;
        a {
            color: $green-color;
            font-weight: 700;
        }
        input {
            width: 100%;
        }
        input[type=checkbox] {
            width: auto;
            display: inline-block;
        }
    }
    &__title {
        display: flex;
        width: 100%;
        font-size: 2rem;
        font-weight: 900;
        margin: 0 0 15px 0;
        a {
            font-size: 1rem;
            margin: auto 0 auto auto;
        }
        svg {
            color: $font-color-second;
            font-size: 1.375rem;
            &:hover {
                cursor: pointer;
                color: $green-color;
            }
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
    }
    &__err {
        color: $err-color;
        font-size: 1rem;
    }
    &__buttons {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        button {
            margin: 15px 0;
        }
    }
    &__reset {
        display: flex;
        margin: 15px 0;
        a {
            font-size: 1.125rem;
            font-weight: 700;
            color: $font-color-main;
            &:hover {
            color: $green-color;
            }
        }
    }
    p {
        color: $font-color-second;
        width: 100%;
        font-size: 1.25rem;
        font-weight: 700;
        margin: 20px 0;
    }
}

.header-bg {
    display: flex;
    background-color: #101010;
}

.app-header {
    width: 1200px;
    padding: 0 15px;
    margin: 20px auto;
    display: flex;
    flex-flow: row wrap;
    color: $white-color;
}

.app-logo {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    a {
        color: $white-color;
        &:hover {
            color: $green-color;   
        }
    }
    h1 {
        margin-right: 10px; 
        font-size: 2.375rem;
        font-weight: 900;
        a::before {
            content: "{";
            color: $green-color;
        }
        a::after {
            content: "}";
            color: $green-color;
        }
    }
    p {
        font-size: 1.25rem;
    }
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    flex: 2 1 auto;
    font-size: 1.25rem;
    ul {
        li {
            float: left;
            margin: 0 40px 0 0;
            a {
                color: $white-color;
                &:hover {
                    color: $green-color;   
                }
            }
        }
    }
}

.user{
    &__dropdown {
        @include dropdown-bg();
        position: absolute;
        z-index: 800;
        color: $font-color-second;
        font-size: 1rem;
        right: 0;
        top: 55px;
        ul {
            li {
                cursor: pointer;
                float: none;
                margin: 0;
                border-bottom: 1px solid #eeeeee;
                &:first-child {
                    a {
                        @include radius-top();
                    }
                }
                &:last-child {
                    border-bottom: transparent;
                    a {
                        @include radius-bottom();
                    }
                }
            }
        }
        a {
            color: $font-color-second;
            padding: 15px;
            display: block;
            box-sizing: border-box;
            &:hover {
                color: $white-color;
                background-color: $green-color;
            }
            svg {
                margin-right: 10px;
            }
        }
    }
}


.arrow {
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $white-color;
    &--position-dropdown {
        top: -5px;
        right: 45px;
    }
    &--position-select {
        top: -5px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.app-filter {
    display: flex;
    position: relative;
    margin: 50px 0 0 0;
    background-color: $white-color;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        &:nth-child(4) {
            .app-filter__name {  
                border-right: 0;
            }
        }
    }
    &__name {
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding: 25px;
        font-size: 1.25rem;
        transition: all 0.3s ease;
        border-right: 1px solid #eaeaea;
        svg {
            margin: 0 0 0 20px;
            color: $font-color-second;
        }
        &:hover {
            cursor: pointer;
            background-color: #f8f8f8;
        }
        &--not-selected {
            color: $font-color-second;
        }
        &--selected {
            color: $font-color-main;
        }
    }
    &__options {
        @include dropdown-bg();
        position: absolute;
        top: 75px;
        width: auto;
        min-width: 100%;
        margin: 10px 0 0 0;
        z-index: 900;
        ul {
            max-height: 250px;
            overflow: auto;
            li {
                color: $font-color-second;
                font-size: 1.05rem;
                padding: 15px;
                border-bottom: 1px solid #eeeeee;
                &:hover {
                    cursor: pointer;
                    background-color: $green-color;
                    color: $white-color;
                }
                &:first-child {
                    @include radius-top();
                }
                &:last-child {
                    border-bottom: 0;
                    @include radius-bottom();
                }
            }
        }
    }
}

.circle-shape {
    position: absolute;
    left: -33px;
    top: -20px;
    background: url('./images/circle.png') no-repeat;
    width: 27px;
    height: 27px;
    z-index: -1;
}

.square-shape {
    position: absolute;
    left: 20px;
    top: 70px;
    background: url('./images/square.png') no-repeat;
    width: 20px;
    height: 20px;
    z-index: -1;
}

.square-shape-2 {
    position: absolute;
    right: -27px;
    top: -20px;
    background: url('./images/square-2.png') no-repeat;
    width: 29px;
    height: 29px;
    z-index: -1;
}

.triangle-shape {
    position: absolute;
    right: -10px;
    top: 63px;
    background: url('./images/triangle.png') no-repeat;
    width: 27px;
    height: 27px;
    z-index: -1;
}

.offers {
    @include blocks-bg();
    margin: 50px 0;
    width: 100%;
    ul li {
        position: relative;
        transition: all 0.3s ease;
        &:first-child {
            @include radius-top();
        }
        &:last-child {
            @include radius-bottom();
            .offer-item {
                border: 0;
            }
        }
        &:hover {
            background-color: #f8f8f8;
        }
    }
}

.page-error {
    text-align: center;
    color: $font-color-second;
    font-weight: 700;
    padding: 50px 0;
    font-size: 2rem;
}

.offer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    color: $font-color-second;
    font-size: 1.25rem;
    border-bottom: 1px solid #dfdfdf;
    &__title {
        display: flex;
        flex: 1;
        align-items: center;
        span{
            color: $font-color-main;
            font-size: 1.25rem;
            margin: 0 5px 0 0;
        }
    }
    &__details {
        font-size: 1.10rem;
        display: flex;
        flex: 1;
        justify-content: space-between;
    }
    &__stack {
        line-height: 1.50rem;
        font-size: 1rem;
    }
    &__icon {
        position: relative;
        flex-shrink: 0;
        text-align: center;
        vertical-align: middle;
        line-height: 50px;
        font-size: 1.75rem;
        color: $white-color;
        font-weight: 700;
        border-radius: $border-radius;
        width: 50px;
        height: 50px;
        margin: 0 25px 0 0;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 60%;
        }
        &--html {
            background-color: #fd5c15;
        }
        &--javascript {
            background-color: #f3d829;
        }
        &--php {
            background-color: #58379f;
        }
        &--c {
            background-color: #007fcc;
        }
        &--java {
            background-color: #f48f19;
        }
        &--net {
            background-color: #67c8b3;
        }
        &--python {
            background-color: #1f4055;
        }
        &--ruby {
            background-color: #eb5745;
        }
        &--scala {
            background-color: #de322f;
        }
    }
    &__new {
        color: $white-color;
        font-size: 0.875rem;
        padding: 5px;
        border-radius: $border-radius;
        background-color: #f05757;
        margin: 0 0 0 15px;
    }
    &__dell {
        position: absolute;
        top: 8px;
        right: 10px;
    }
}

.article {
    @include blocks-bg();
    margin: 50px 0;
    width: 100%;
    padding: 50px 60px;
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        display: flex;
        align-items: center;
    }
    &__icon {
        position: relative;
        flex-shrink: 0;
        text-align: center;
        vertical-align: middle;
        line-height: 85px;
        font-size: 3.25rem;
        font-weight: 900;
        color: $white-color;
        width: 85px;
        height: 85px;
        border-radius: $border-radius;
        margin: 0 40px 0 0;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 60%;
        }
    }
    &__name {
        font-size: 1.5rem;
        font-weight: 700;
        h2 {
            margin: 0 0 10px 0;
        }
        p {
            margin: 0;
        }
        span {
            font-weight: 400;
            color: $font-color-second;
        }
    }
    &__autohor-detials {
        font-size: 1.25rem;
    }
    &__social-icons {
        a {
            font-size: 2.25rem;
            margin: 0 10px 0 0;
        } 
    }
    &__skills {
        margin: 50px 0 0 0;
        font-weight: 700;
        font-size: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        &__item {
            display: flex;
            flex-shrink: 0;
            margin: 0 30px 20px 0;
        }
        &__points {
            margin: 0;
            li {
                float: left;
                padding: 0 0 0 10px;
                &:before {
                    margin: 0;
                    content: "•";
                }
            }
            &--adder li {
                &:hover {
                cursor: pointer;
                }
            }
            &--yes:before {
                color:$green-color;
            }
            &--not:before {
                color: $font-color-second;
            }
        }
        &__del {
            line-height: 1.5rem;
            margin: 0 0 0 10px;
            svg {
                color: $font-color-second;
                font-size: 1rem;
                line-height: 1rem;
            &:hover {
                cursor: pointer;
                color: $err-color;
                }
            }
        } 
    }
    &__price {
        text-align: center;
        font-size: 1.125rem;
        line-height: 1.125rem;
        div {
            padding: 0 0 10px 0;
        }
    }
    &__content {
        ul {
            margin: 0 0 30px 0;
            li {
                padding: 0 0 0 10px;
                line-height: 26px;
                &:before {
                    margin: 0 10px 0 0;
                    content: "•";
                    color:$green-color;
                }
            }
        }
    }
    &__text-editor {
        margin: 0 0 50px 0;
        ul, ol {
            margin: 0 0 30px 0;
            li {
                padding: 0 0 0 10px;
                line-height: 26px;
            }
        }
    }
    &__form {
        &__line {
            width: 50%;
        }
        &__number-input {
            position: relative;
            display: flex;
        }
        &__number-buttons {
            position: absolute;
            right: 10px;
            top: 45%;
            transform: translate(0,-50%);
            button {
                margin: 0 0 0 5px; 
            }
        }
        &__buttons {
            button {
            margin: 0 30px 0 0;
            }
        }
    }
    a {
        color: $green-color;
        font-weight: 700;
        &:hover {
            color: $purple-color;
        }
    }
    h3 {
        border-bottom: 1px solid #e9e9e9;
        font-weight: 700;
        font-size: 1.5rem;
        padding: 0 0 15px 0;
        margin: 30px 0;
    }
    p {
        font-size: 1.125rem;
        line-height: 26px;
        margin: 0 0 30px 0;
    }
    input,
    select,
    label {
        width: 100%;
    }
    input[type=checkbox] {
        width: auto;
        display: inline-block;
    }
    textarea {
        width: 50%;
    }
}

.pagination {
    margin: 0 0 40px 0;
    li {
        float: left;
        margin: 0 8px 10px 0;
        a {
            display: block;
            @include blocks-bg();
            color: $font-color-second;
            font-size: 1.125rem;
            padding: 7px 12px;
            transition: all 0.3s ease;
            &:hover {
                color: $font-color-main;
                background-color: #f8f8f8;
            }
        }
        &:last-child {
            margin: 0;
        }
        &:hover {
            cursor: pointer;
        }
    } 
    &--disabled {
        cursor: not-allowed;
    }
    &__spacer {
        padding: 10px 0 0 0;
    }
    .active a{
        color: $white-color;
        background-color: $green-color;
        &:hover {
            color: $white-color;
            background-color: $green-color-hover;
        }
    }
}

.main-footer {
    width: 100%;
    padding: 25px 0;
    text-align: center;
    border-top: 1px solid #dadada;
    color: $font-color-second;
    font-size: 1.125rem;
    svg {
        color: #f05757;
        margin: 0 5px 0 0;
        font-size: 1rem;
    }
}

@media (max-width: 425px) {
    .app-logo {
        justify-content: center;
        margin: 0 0 20px 0;
    }
    .app-header {
        flex-direction: column;
        nav {
            justify-content: center;
            .user__dropdown,
            .arrow--position-dropdown{
                right: auto;
                left: 50%;
                transform: translate(-50%, 0);
            }
        }
    }
    .modal__box {
        padding: 30px 40px;
    }
    .app-filter {
        flex-direction: column;
        margin: 25px 0;
        &__name {
            margin: 0 0 15px 0 !important;
        }
    }
    .offer-item {
        &__title {
            flex-direction: column;
            text-align: center;
            width: 100%;
            line-height: 30px;
        }
        &__new {
            display: none;
        }
    }
    .article {
        &__header {
            flex-direction: column;
        }
        &__name {
            text-align: center;
            margin: 25px 0;
        }
        &__social-icons {
            width: 100%;
            text-align: center;
        }
    }
}

@media (max-width: 576px) {
    .offer-item {
        &__icon {
            width: 35px;
            height: 35px;
            line-height: 35px;
        }
    }
}

@media (max-width: 610px) {
    .offer-item {
        &__price {
            display: none;
        }
        &__title {
            width: 100%;
        }
        &__new {
            margin: auto 0 auto auto;
        }
    }
}

@media (max-width: 767.99px) {
    .circle-shape,
    .square-shape,
    .square-shape-2,
    .triangle-shape {
        display: none;
    }
    .app-filter {
        flex-wrap: wrap;
        width: 100%;
        background-color: initial;
        box-shadow: none;
        border-radius: 0;
        &__options {
            margin: 0 0 10px 0;
        }
        &__name {
            border: 0;
            margin: 0 2px 15px 0;
            padding: 20px 15px;
            background-color: $white-color;
            box-shadow: $box-shadow;
            border-radius: $border-radius;
        }
    }
    .offer-item {
        padding: 20px;
        &__title {
            flex: 0 1 auto;
        }
        &__details {
            flex: 0 1 auto;
        }
        &__years {
            display: none;
        }
        &__icon {
            margin: 0 10px 0 0;
        }
    }
    .article {
        padding: 30px 35px;
    }
    .article {
        &__header {
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &__form__line {
            width: 100%;
        }
        input,
        select,
        textarea {
            width: 100%;
        }
    }
}

@media (max-width: 991.99px) {
    html {
        font-size: 14px;
    }
}